modules = ["nodejs-20", "web", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 180000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 19433
externalPort = 3000

[userenv]

[userenv.shared]
VITE_LAUNCH_FEE_TREASURY_ADDRESS = "0x85000bB2D56DA4D0f16eC0f938A2F9dfE5cd3D98"
VITE_LAUNCH_FEE_TREASURY_ADDRESS_X1 = "6xFQK4Z3KBaMP3FxYeC6YjnJKRNk3U2BXnWPpgSoge1q"
VITE_SOLANA_TREASURY_ADDRESS = "456muk9PTfzhqwi5WXkMWngM8n8FpK5SVysoS7mDYrVR"

[nix]
channel = "stable-25_05"
