modules = ["nodejs-20", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 19433
externalPort = 3000

[userenv]

[userenv.shared]
VITE_LAUNCH_FEE_TREASURY_ADDRESS = "0x111E358fDc4f12945cD2aA85E973e89E3c59A725"
VITE_LAUNCH_FEE_TREASURY_ADDRESS_X1 = "6xFQK4Z3KBaMP3FxYeC6YjnJKRNk3U2BXnWPpgSoge1q"

[nix]
channel = "stable-25_05"
